@font-face {
  font-family: "Stretch Pro";
  src: url(StretchPro.otf);
}

body {
  background-color: rgba(255, 255, 255, 0);
  padding: 5vw;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "Stretch Pro";
  font-size: 6vw;
  transform: scale(1, 3);
  line-height: 1;
  font-weight: normal;
  margin: 2;
}

p {
  color: rgb(0, 0, 0);
  font-family: "Stretch Pro";
  font-size: 10vw;
  line-height: 0.5;
  font-weight: normal;
  transform: scale(1, 3);
  margin-top: 50vw;
}

a:hover {
  font-size: 15vw;
  transition: all 500ms;
  font-size-adjust: 20px;
}

a,
a:visited {
  color: rgb(255, 0, 115);
}

h1 {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: "V";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow:
    1.5196000584em -0.0436458329em 2px hsla(196.1235968378, 100%, 50%, 0.9),
    0.5086276112em 1.4408811228em 2px hsla(116.6849688053, 100%, 50%, 0.9),
    2.1256185214em 0.0889474417em 2px hsla(91.6263172457, 100%, 50%, 0.9),
    -0.2048369263em 1.3003492541em 2px hsla(209.9128754669, 100%, 50%, 0.9),
    0.2771417903em 2.0735668524em 2px hsla(262.8716791341, 100%, 50%, 0.9),
    1.5820040526em 0.0753390754em 2px hsla(40.0937804021, 100%, 50%, 0.9),
    0.5589965852em 2.2231408501em 2px hsla(123.5569438727, 100%, 50%, 0.9),
    0.8661531356em 1.652298308em 2px hsla(85.377202409, 100%, 50%, 0.9),
    1.0490777928em 0.4776654141em 2px hsla(206.712076425, 100%, 50%, 0.9),
    2.091664302em -0.354914193em 2px hsla(333.5195650968, 100%, 50%, 0.9),
    1.7057481637em -0.3173614814em 2px hsla(325.2448639484, 100%, 50%, 0.9),
    -0.1655488381em 0.0254347229em 2px hsla(238.6982576357, 100%, 50%, 0.9),
    1.3226732825em 0.8498422663em 2px hsla(105.0067273085, 100%, 50%, 0.9),
    0.6644789042em 2.2544011761em 2px hsla(213.8072972809, 100%, 50%, 0.9),
    2.0825605172em 1.3748893723em 2px hsla(92.6914817899, 100%, 50%, 0.9),
    1.4411908271em 1.2894393172em 2px hsla(218.8505352004, 100%, 50%, 0.9),
    0.5145315835em 0.3928939704em 2px hsla(189.7161124785, 100%, 50%, 0.9),
    1.1557505809em 1.0270147727em 2px hsla(34.7115074073, 100%, 50%, 0.9),
    0.2761663589em 1.6447243281em 2px hsla(54.1345216586, 100%, 50%, 0.9),
    1.7386848173em 1.6630695049em 2px hsla(163.9934894647, 100%, 50%, 0.9),
    0.0386027305em 1.9411204972em 2px hsla(13.4005871478, 100%, 50%, 0.9),
    0.8646304567em 0.3053479548em 2px hsla(252.2356040833, 100%, 50%, 0.9),
    -0.1664567379em 0.481155158em 2px hsla(49.1204866251, 100%, 50%, 0.9),
    -0.1528619657em 0.649588741em 2px hsla(27.3865467996, 100%, 50%, 0.9),
    -0.0707092814em 2.3190293558em 2px hsla(157.7476102103, 100%, 50%, 0.9),
    -0.1382275329em -0.242289984em 2px hsla(187.3372078256, 100%, 50%, 0.9),
    1.7759311298em -0.3696193941em 2px hsla(180.4247421308, 100%, 50%, 0.9),
    -0.2605183673em -0.1444000782em 2px hsla(167.9987292588, 100%, 50%, 0.9),
    0.0844390591em 1.7924934003em 2px hsla(17.6141988754, 100%, 50%, 0.9),
    -0.0040953576em -0.3369193016em 2px hsla(244.09472421, 100%, 50%, 0.9),
    0.4412869611em 2.3028505532em 2px hsla(88.0522886515, 100%, 50%, 0.9),
    2.3199813947em 1.5798524348em 2px hsla(19.7506085316, 100%, 50%, 0.9),
    0.3576685739em 0.8297981295em 2px hsla(220.0849473011, 100%, 50%, 0.9),
    -0.353661206em 1.8782905989em 2px hsla(39.1878649775, 100%, 50%, 0.9),
    1.4609319567em 1.3205223884em 2px hsla(153.352127277, 100%, 50%, 0.9),
    0.5599539592em -0.4967049286em 2px hsla(356.5296173266, 100%, 50%, 0.9),
    0.661979165em 0.3744426187em 2px hsla(341.2799250061, 100%, 50%, 0.9),
    0.9465565865em 1.8265776706em 2px hsla(177.0743061682, 100%, 50%, 0.9),
    0.4772038646em -0.1920511852em 2px hsla(262.6031025046, 100%, 50%, 0.9),
    1.7109742929em 1.2708828551em 2px hsla(297.092343465, 100%, 50%, 0.9),
    1.771641086em 0.0264944427em 2px hsla(359.9335829727, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow:
    1.5993031566em 2.3423802987em 2px hsla(225.0919541088, 100%, 50%, 0.9),
    -0.1432645468em 1.0383107967em 2px hsla(176.0013456158, 100%, 50%, 0.9),
    0.1282155112em 2.1271018515em 2px hsla(266.7338799065, 100%, 50%, 0.9),
    1.8959419315em 1.5714269262em 2px hsla(25.2277165583, 100%, 50%, 0.9),
    2.3495199773em 0.7851116249em 2px hsla(198.396700415, 100%, 50%, 0.9),
    0.1862270765em 0.3795815803em 2px hsla(204.9809259199, 100%, 50%, 0.9),
    1.4522290295em 0.7078642888em 2px hsla(119.576626662, 100%, 50%, 0.9),
    0.8855390625em 1.5325597562em 2px hsla(266.7804824499, 100%, 50%, 0.9),
    1.2439694413em 1.4271329045em 2px hsla(42.0169785814, 100%, 50%, 0.9),
    1.0550544223em 1.634761063em 2px hsla(221.3395247522, 100%, 50%, 0.9),
    2.150065394em 1.1885134497em 2px hsla(80.7728404369, 100%, 50%, 0.9),
    0.4647814804em 0.7070567818em 2px hsla(129.8503280663, 100%, 50%, 0.9),
    0.6546771737em 0.4272021856em 2px hsla(31.44187735, 100%, 50%, 0.9),
    1.0368191071em 2.0157811849em 2px hsla(114.5681122851, 100%, 50%, 0.9),
    0.0554723235em 0.4568036841em 2px hsla(175.3244556372, 100%, 50%, 0.9),
    2.3513612188em 2.3674906589em 2px hsla(68.5037238842, 100%, 50%, 0.9),
    0.2049696379em 0.9645373712em 2px hsla(20.6088490321, 100%, 50%, 0.9),
    -0.4504798027em -0.3035898259em 2px hsla(58.374766716, 100%, 50%, 0.9),
    2.0729127594em 0.2631155526em 2px hsla(317.2669715235, 100%, 50%, 0.9),
    -0.0120288429em 2.0353748978em 2px hsla(227.5739263313, 100%, 50%, 0.9),
    -0.41226407em 0.0013526294em 2px hsla(72.9747187127, 100%, 50%, 0.9),
    0.765867693em 0.6455940796em 2px hsla(248.1343485825, 100%, 50%, 0.9),
    2.4379809531em 1.4184971246em 2px hsla(2.8023686273, 100%, 50%, 0.9),
    1.1255128568em 0.9317101475em 2px hsla(203.6606053466, 100%, 50%, 0.9),
    2.1137769556em 1.2223059739em 2px hsla(43.8140676747, 100%, 50%, 0.9),
    -0.1452886926em 2.3778383335em 2px hsla(50.2923333507, 100%, 50%, 0.9),
    1.4029762875em 1.8462531838em 2px hsla(61.2352566334, 100%, 50%, 0.9),
    1.6142492705em 0.2389083774em 2px hsla(170.3589328799, 100%, 50%, 0.9),
    0.9305172267em 0.1158436335em 2px hsla(271.8307192586, 100%, 50%, 0.9),
    0.8451773475em 1.2102464771em 2px hsla(98.5136400808, 100%, 50%, 0.9),
    0.4052928001em 1.9284529087em 2px hsla(251.4712551476, 100%, 50%, 0.9),
    2.4063490531em 2.3211102988em 2px hsla(137.4716402485, 100%, 50%, 0.9),
    1.6761675459em 1.4897167226em 2px hsla(101.7622142945, 100%, 50%, 0.9),
    0.3066711639em 0.5143968598em 2px hsla(302.3764849931, 100%, 50%, 0.9),
    -0.0303407854em 1.5847431035em 2px hsla(267.5364769751, 100%, 50%, 0.9),
    -0.4099972485em 1.1473596392em 2px hsla(230.5424673625, 100%, 50%, 0.9),
    2.1524016036em 1.887928107em 2px hsla(16.2411185802, 100%, 50%, 0.9),
    -0.1454282779em 0.9049831458em 2px hsla(221.9658505646, 100%, 50%, 0.9),
    0.4456621706em -0.3550619589em 2px hsla(105.1884162916, 100%, 50%, 0.9),
    0.045740403em 1.8134426821em 2px hsla(170.6196652216, 100%, 50%, 0.9),
    1.6745290529em 2.1375392655em 2px hsla(356.0972940159, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow:
    -0.2885127295em 1.6239792896em 2px hsla(49.8962837317, 100%, 50%, 0.9),
    0.8462442827em 1.0043884676em 2px hsla(167.2386884537, 100%, 50%, 0.9),
    2.3531235013em 2.3154577682em 2px hsla(129.6554716163, 100%, 50%, 0.9),
    1.4998776526em 1.3442242103em 2px hsla(40.2858565749, 100%, 50%, 0.9),
    0.08754101em -0.4461379293em 2px hsla(336.0161823481, 100%, 50%, 0.9),
    -0.3953724927em 1.7320814897em 2px hsla(93.2645927431, 100%, 50%, 0.9),
    0.5448098774em 0.2280114115em 2px hsla(132.0371523556, 100%, 50%, 0.9),
    -0.2736915451em 1.2231204518em 2px hsla(14.7130706416, 100%, 50%, 0.9),
    0.3790417159em 0.1358251365em 2px hsla(149.6349056017, 100%, 50%, 0.9),
    2.0879432413em 0.9738004778em 2px hsla(119.0309285554, 100%, 50%, 0.9),
    1.1472599798em 0.5639472585em 2px hsla(111.2040242139, 100%, 50%, 0.9),
    1.8775643084em -0.3687006761em 2px hsla(341.5857078981, 100%, 50%, 0.9),
    1.1127784898em 2.3415503157em 2px hsla(179.1366840057, 100%, 50%, 0.9),
    1.5215629144em 0.0655603435em 2px hsla(327.6892936266, 100%, 50%, 0.9),
    -0.1859156418em 1.5136785749em 2px hsla(224.7843292098, 100%, 50%, 0.9),
    0.446577888em 2.3943551587em 2px hsla(343.333905853, 100%, 50%, 0.9),
    1.661825256em 1.4265117063em 2px hsla(198.8089777337, 100%, 50%, 0.9),
    2.2690759132em 2.4747702256em 2px hsla(17.8037537717, 100%, 50%, 0.9),
    1.9822007425em 0.5612184238em 2px hsla(309.4181701305, 100%, 50%, 0.9),
    1.5090091173em 1.9194671928em 2px hsla(249.2443308277, 100%, 50%, 0.9),
    0.1031907371em 0.583588026em 2px hsla(289.871295155, 100%, 50%, 0.9),
    -0.2499452502em 0.9733666403em 2px hsla(175.5733614487, 100%, 50%, 0.9),
    1.9753685763em 1.5416926542em 2px hsla(22.5939237618, 100%, 50%, 0.9),
    1.0558806712em 1.0086226978em 2px hsla(85.6607372154, 100%, 50%, 0.9),
    1.5718599633em 1.0829932348em 2px hsla(299.5363235378, 100%, 50%, 0.9),
    0.7050813349em 0.0595460849em 2px hsla(28.1725971532, 100%, 50%, 0.9),
    1.2181323561em 0.2056059668em 2px hsla(140.0526044239, 100%, 50%, 0.9),
    -0.1991714722em 1.8859673982em 2px hsla(359.5385789124, 100%, 50%, 0.9),
    2.0883919846em -0.3270356366em 2px hsla(208.2615072691, 100%, 50%, 0.9),
    0.7275277475em -0.4282044745em 2px hsla(123.3662678131, 100%, 50%, 0.9),
    -0.3526473045em 2.437964322em 2px hsla(289.125047945, 100%, 50%, 0.9),
    0.2063196859em 2.1212760599em 2px hsla(215.9345807209, 100%, 50%, 0.9),
    0.6153975875em 1.2908323169em 2px hsla(134.2553551375, 100%, 50%, 0.9),
    2.4875377542em 0.1619979016em 2px hsla(243.2064873926, 100%, 50%, 0.9),
    2.1920095564em -0.1582855432em 2px hsla(317.8253511143, 100%, 50%, 0.9),
    2.0275289181em 1.5576585117em 2px hsla(22.7703418689, 100%, 50%, 0.9),
    -0.3794681192em 1.5837864532em 2px hsla(344.2214999461, 100%, 50%, 0.9),
    0.2673116465em 0.5357345017em 2px hsla(355.8320233765, 100%, 50%, 0.9),
    1.6327897022em 1.9969128224em 2px hsla(289.1250016769, 100%, 50%, 0.9),
    0.4987022979em 2.0386607952em 2px hsla(148.0262757223, 100%, 50%, 0.9),
    -0.2458584005em -0.0189263013em 2px hsla(308.4842925093, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow:
    0.7774693618em 1.6498929659em 2px hsla(300.3567460647, 100%, 50%, 0.9),
    -0.4828359857em 1.0413094785em 2px hsla(134.9007211136, 100%, 50%, 0.9),
    2.0875921946em 2.2614831118em 2px hsla(95.8734951428, 100%, 50%, 0.9),
    0.7343078871em 0.575245698em 2px hsla(156.4203665203, 100%, 50%, 0.9),
    2.1171046955em -0.3498936118em 2px hsla(32.6626938361, 100%, 50%, 0.9),
    0.673186686em -0.422719385em 2px hsla(113.6487985559, 100%, 50%, 0.9),
    0.9875417196em 0.9603059992em 2px hsla(181.3304035837, 100%, 50%, 0.9),
    0.1238216644em 0.8199138135em 2px hsla(175.4749634375, 100%, 50%, 0.9),
    0.0650435977em 2.0681976818em 2px hsla(136.619528428, 100%, 50%, 0.9),
    -0.3670213017em -0.1895734317em 2px hsla(345.0807595184, 100%, 50%, 0.9),
    0.9912610145em -0.1927577614em 2px hsla(200.363876261, 100%, 50%, 0.9),
    -0.2545528341em -0.3664429182em 2px hsla(351.9967355542, 100%, 50%, 0.9),
    -0.1378321963em 0.7154108292em 2px hsla(233.028747045, 100%, 50%, 0.9),
    2.4867224116em 1.8599487666em 2px hsla(212.0009282474, 100%, 50%, 0.9),
    2.3243422349em 0.2770994952em 2px hsla(157.1049430394, 100%, 50%, 0.9),
    1.4854121711em 0.6003322886em 2px hsla(280.5169510658, 100%, 50%, 0.9),
    0.0812483745em 1.4836107297em 2px hsla(248.3484666461, 100%, 50%, 0.9),
    0.530149363em 0.2753582093em 2px hsla(115.732901113, 100%, 50%, 0.9),
    -0.272863184em -0.2136152837em 2px hsla(254.0598183563, 100%, 50%, 0.9),
    1.1930117042em 1.6561081918em 2px hsla(116.3741225732, 100%, 50%, 0.9),
    0.5908438582em 2.4915244933em 2px hsla(96.2285215483, 100%, 50%, 0.9),
    2.2925812452em 0.8879532141em 2px hsla(26.1512385058, 100%, 50%, 0.9),
    -0.4631359358em 2.2214220179em 2px hsla(174.4303959117, 100%, 50%, 0.9),
    -0.487637612em 1.9295684087em 2px hsla(52.2191607264, 100%, 50%, 0.9),
    -0.2273175971em 0.0084312346em 2px hsla(91.1825214565, 100%, 50%, 0.9),
    0.0948774077em 1.7068054277em 2px hsla(307.3211574309, 100%, 50%, 0.9),
    0.669316155em 1.0021561182em 2px hsla(44.8903352231, 100%, 50%, 0.9),
    2.0080836068em 1.860414331em 2px hsla(55.047223575, 100%, 50%, 0.9),
    1.0919233717em 1.9724226824em 2px hsla(42.037277204, 100%, 50%, 0.9),
    2.3991204523em 1.026404415em 2px hsla(32.4259681033, 100%, 50%, 0.9),
    0.3838962335em 2.3330390853em 2px hsla(286.8370668249, 100%, 50%, 0.9),
    1.8879792925em 1.8552722011em 2px hsla(182.1748724497, 100%, 50%, 0.9),
    2.4000858953em 0.5144549268em 2px hsla(298.0072015422, 100%, 50%, 0.9),
    1.6532108738em 2.1135435517em 2px hsla(68.0801532921, 100%, 50%, 0.9),
    0.8703270384em 1.0758569858em 2px hsla(48.1042519436, 100%, 50%, 0.9),
    1.3236579033em 1.3008311129em 2px hsla(134.2145349338, 100%, 50%, 0.9),
    0.0064246615em 2.4953466468em 2px hsla(115.3008812272, 100%, 50%, 0.9),
    1.5056412839em 2.417028292em 2px hsla(208.1767821536, 100%, 50%, 0.9),
    2.1000414303em 2.3900980055em 2px hsla(256.1928750836, 100%, 50%, 0.9),
    0.1472868806em 1.726207276em 2px hsla(314.4983851512, 100%, 50%, 0.9),
    1.786988475em 0.7841013611em 2px hsla(305.7308460333, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
